// Contenedor de la tabla
.tabla-container {
    text-align: center;
  }
  
  // Encabezado de la tabla
  .encabezado {
    font-weight: bold;
    background: var(--ion-color-light);
    padding: 10px 0;
    border-radius: 8px;
  }
  
  // Filas de la tabla
  ion-row {
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid var(--ion-color-medium);
  }
  
  // Iconos de los botones
  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
  }

  ion-fab-button {
    animation: fadeInUp 0.5s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }
  
  ion-fab-button:hover {
    transform: scale(1.1);
  }
  
  // Definición de la animación
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }