<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Actividades</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="M1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="tabla-container">
    <h2>Lista de Actividades</h2>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success" [routerLink]="['/registro-actividad', 0]" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-grid>
      <!-- Encabezados -->
      <ion-row class="encabezado">
        <ion-col size="4"><strong>Nombre</strong></ion-col>
        <ion-col size="2"><strong>Dia/s</strong></ion-col>
        <ion-col size="3"><strong>Horario</strong></ion-col>
        <ion-col size="3"><strong>Acciones</strong></ion-col>
      </ion-row>

      <!-- Filas de datos -->
      <ion-row *ngFor="let actividad of actividades" [@fadeIn]>
        <ion-col size="4">{{ actividad.nombre }}</ion-col>
        <ion-col size="2">{{ actividad.dia }}</ion-col>
        <ion-col size="3">{{ actividad.horario }}</ion-col>
        <ion-col size="3">
          <ion-button fill="clear" color="primary" [routerLink]="['/registro-actividad', actividad.id]">
            <ion-icon name="create">edit</ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="eliminarActividad(actividad.id, actividad.nombre)">
            <ion-icon name="trash">delete</ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>