#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// Contenedor del globo
.globo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 150px;
}

// Imagen del globo
.globo {
  width: 100%;
  height: auto;
  position: relative;
}
.bienvenida {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Dancing Script', cursive; // 🎨 Fuente cursiva llamativa
  color: var(--ion-color-primary);
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.subtitulo {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
}

// Definir animación en SCSS
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
